.dashboard-container-with-sidebar {
  margin-left: 240px; /* espace pour la sidebar */
  padding: 20px;
  width: 100%;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.cards-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.actions-container {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

.actions-container button {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  background: #1e293b;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.actions-container button:hover {
  background: #334155;
}
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.logout-btn {
  background: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #b02a37;
  transform: scale(1.05);
}
